<div class="form-group row">
	<div class="col">
		<label>Tipo de documento</label>
		<select class="form-control">
			<option>Cédula de Ciudadanía</option>
			<option>Cédula Extranjera</option>
			<option>Pasaporte</option>
			<option>Registro Civil</option>
			<option>Tarjeta de Identidad</option>
			<option>Adulto sin Identidad</option>
			<option>Menor de Identidad</option>
		</select>
	</div>
	<div class="col">
		<label>Documento de Identificación</label>
		<input type="text" class="form-control">
	</div>
</div>