<div class="container separar appear" id="reception">
	<div class="right-align" style="height: 100px">
		<img src="assets/imagenes/umedical-logo.png" class="img-fluid" alt="Responsive image" style="height: 100%">
	</div>
	<hr>
	<div class="container">
		<div class="row separar">
			<div class="col-md-3 box-container">
				<div class="list-group">
					<a class="list-group-item list-group-item-action" (click)="optionSelected(1)" [ngClass]="{'bg-info text-white': option == 1}">Pacientes</a>
					<a class="list-group-item list-group-item-action" (click)="optionSelected(2)" [ngClass]="{'bg-info text-white': option == 2}">Citas Médicas</a>
					<a class="list-group-item list-group-item-action" (click)="optionSelected(3)" [ngClass]="{'bg-info text-white': option == 3}">Contratos</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="box border border-info appear" id="content" *ngIf="option != 0">
					<div id="1" class="appear" *ngIf="option == 1"><app-patient></app-patient></div>
					<div id="2" class="appear" *ngIf="option == 2">2</div>
					<div id="3" class="appear" *ngIf="option == 3">3</div>
				</div>
			</div>
		</div>
	</div>

</div>